
<div class="slider">
  <div class="slides">
   <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620837111/picture/image4_eulenx.jpg"  width="800" height="400"   alt=""></div>
   <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620837033/picture/image2_mnz0de.jpg" width="800" height="400"alt=""></div>
   <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620837025/picture/image1_nndcfw.jpg" width="800" height="400"alt=""></div>
   <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620837016/picture/image3_gg2juh.jpg" width="800" height="400"alt=""></div>
   <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620834122/picture/items2_spfp9f.jpg" width="800" height="400" alt=""></div>
 </div>
</div>
