


<div class="porfolio">
<div class="slider">
  <div class="slides">
    <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620837111/picture/image4_eulenx.jpg"  width="900" height="500"   alt=""></div>
    <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620837033/picture/image2_mnz0de.jpg" width="900" height="500"alt=""></div>
    <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620837025/picture/image1_nndcfw.jpg" width="900" height="500"alt=""></div>
    <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620837016/picture/image3_gg2juh.jpg" width="900" height="500"alt=""></div>
    <div class="slide"><img src="https://res.cloudinary.com/dv6bffyjj/image/upload/v1620834122/picture/items2_spfp9f.jpg" width="900" height="500" alt=""></div>
  </div>
</div>

<div class="wrapper">
  <div class="link_wrapper">
    <a class="back" href="/home">Back Home></a>
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
      </svg>
    </div>
  </div>

</div>
